 <div class="events valign center">
        <div class="row valign wrapper">
            <div class="col s6 offset-s3 valign">
            <div class="card #4527a0 deep-purple darken-3">
                <div class="card-content white-text">
                <h4 class="event-title"><a class="white-text text-info" href="/events/{{id}}">{{title}}</a></h4>
                 <p class="card-text">{{description}}</p>
                 <p class="card-text">{{location_name}}</p>
                 <p class="card-text">{{date_id}}</p>
                </div>
            </div>
            </div>
        </div>   
</div>